<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @livre.titre %>
</p>

<p>
  <strong>Autheur:</strong>
  <%= @livre.autheur %>
</p>

<p>
  <strong>Description:</strong>
  <%= @livre.description %>
</p>

<p>
  <strong>Avis:</strong>
  <%= @livre.avis %>
</p>

<%= link_to 'Edit', edit_livre_path(@livre) %> |
<%= link_to 'Back', livres_path %>
