<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<%= render 'layouts/navigation' %>   
 <%= yield %>
    <%= javascript_include_tag "application" %>


<div>
  <%if user_signed_in? %>

<% if current_user.admin? %>  
say yes donc je viens de tester si la personne est bien admin
      

<%else %>
 Le nom de l'utilisateur est : <%= current_user.profile_name %> et il n'est pas admin
<% end%>
<% end%>

</div> 


  </body>
</html>